<nav class="navbar navbar-dark navbar-expand-md navbar-lg">
    <div class="navbar-header">
        <div class="container-fluid">
            <a class="navbar-brand">Secret Santa Generator</a>
        </div>
    </div>
</nav>
<!-- <div class="navbar">
    <div class="row">
        <div class="col">
            <img src="https://www.secretsantaorganizer.com/build/images/content-container.5838ab5e.png" alt=""
                width="350px" height="100px">
        </div>
        <div class="col">
            <img src="https://www.secretsantaorganizer.com/build/images/content-container.5838ab5e.png" alt=""
                width="350px" height="100px">
        </div>
        <div class="col">
            <img src="https://www.secretsantaorganizer.com/build/images/content-container.5838ab5e.png" alt=""
                width="350px" height="100px">
        </div>
        <div class="col">
            <img src="https://www.secretsantaorganizer.com/build/images/content-container.5838ab5e.png" alt=""
                width="350px" height="100px">
        </div>
    </div>
</div> -->