<div class="container">
    <div class="row pt-5">
        <div class="col-md-8 pt-3">
            <div>
                <button class="btn btn-info float-end" mat-button (click)="addRow()">Add a Participant</button>
            </div>
            <div class="card mt-5 shadow-lg">
                <div class="card-body">
                    <table class="table table-striped  table-responsive">
                        <thead>
                            <tr>
                                <th>No:</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Delete User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataSource | paginate:{itemsPerPage:5,currentPage:p}; index as i">
                                <td>{{item.id}}</td>
                                <td><input type="text" [(ngModel)]="item.name" required class="form-control" /></td>
                                <td><input type="email" [(ngModel)]="item.email" required class="form-control" /></td>
                                <td><button *ngIf="item.id>2" class="btn btn-danger"
                                        (click)="removeRow(item.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button [disabled]="" class="btn btn-primary float-end" (click)="Submit()">Send Mail</button>
                    <div>
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card mt-3 mb-4 p-3 shadow-sm">
                   <h2> Add multiple people by CSV </h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <input class="form-control" formControlName="upload" type="file" accept=".csv"
                        (change)="handleFileSelect($event)"
                        [ngClass]="{ 'is-invalid':form.get('upload').touched && form.get('upload').invalid}">
                    <div class="mt-2">
                        <button [disabled]="form.invalid" class="btn btn-primary m-2">Send
                            Mail</button>
                    </div>

                </form>
                <div class="mt-2">
                    <a href="assets/Participants.csv" class="btn btn-primary" target="_blank"
                        download="Participants.csv">Download Sample <i class="fa fa-download"></i></a>

                    <button class="btn btn-light float-end" (click)="onClear()">clear</button>
                </div>
            </div>
        </div>
    </div>
</div>